<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 th:text="${#strings.capitalizeWords(title2)}"></h2>
    <!-- TODO #3 - Use the same list display from search.html -->

    <div th:if="${items} and ${items.size()}">
        <table th:each="item, idx : ${items}">
            <tr  th:each="keyItem : ${item}">
                <td th:text="${keyItem.key}"></td>
                <td th:text="${keyItem.value}"></td>
            </tr>
            <br/>
        </table>
    </div>

</div>

</body>
</html>